<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Add a new<br>
      thought:
    </h2>
  </header>
  <form action="">
    <label for="thought">Thought</label>
    <input
      type="textarea"
      class="input"
      id="thought"
      name="thought"
      placeholder="Write your thoughts"
      [(ngModel)]="thought.content"
    >
    <label for="author">Author or source</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author"
      placeholder="Write the author or source"
      [(ngModel)]="thought.author"
    >
    <label for="template">Select your card template:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="template1">
          <input
            type="radio"
            name="template-card"
            id="template1"
            value="template1"
            [(ngModel)]="thought.template"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Template 1</span>
        </label>
        Preview:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Blue quotation marks">
          <p class="conteudo">{{ thought.content }}</p>
          <p class="autoria"><b>{{ thought.author }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="template2">
          <input
            type="radio"
            name="template-card"
            id="template2"
            value="template2"
            [(ngModel)]="thought.template"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Template 2</span>
        </label>
        Preview:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/images/modelo2.png" alt="Light blue quotation marks">
          <p class="conteudo">{{ thought.content }}</p>
          <p class="autoria"><b>{{ thought.author }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="template3">
          <input
            type="radio"
            name="template-card"
            id="template3"
            value="template3"
            [(ngModel)]="thought.template"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Template 3</span>
        </label>
        Preview:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Green quotation marks">
          <p class="conteudo">{{ thought.content }}</p>
          <p class="autoria"><b>{{ thought.author }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="createThought()" class="botao">Add thought</button>
      <button (click)="cancel()" class="botao">Cancel</button>
    </div>
  </form>
</section>
